node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.output
.vinxi
todos.json
specimens.csv
.env.development.local
*.xlsx
*.db
*.db-shm
*.db-wal
specimens.tsv
.claude
/imrs_boundary.kml
*.sql
specimens.json
*.local.md